<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <connectionStrings>
    <add name="Main" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=MemberZone_Central;Integrated Security=True;Max Pool Size=1024;MultipleActiveResultSets=True;Application Name=GrowthZone_Local;ApplicationIntent=ReadWrite" providerName="System.Data.SqlClient"/>
    <!--<add
      name="Main"
      connectionString="Data Source=mnodata01;Initial Catalog=MemberZone_Central;User ID=sa;Password=l84ad8;Max Pool Size=1024;MultipleActiveResultSets=True;Application Name=GrowthZone_Local;ApplicationIntent=ReadWrite" providerName="System.Data.SqlClient" />-->
  </connectionStrings>

</configuration>
